
      body {
        font: 11px sans-serif;
        background-color: #add8e6;
        width:1920;
        height:1024px;
         position:absolute;
      }
      
      .h1 {
        margin-bottom: 10px;
      }
      #tooltip{
		font-size:20px;
    font-weight: bold;
    color: black;

	

}

      /* Legend Position Style */
      .legend {
       
        display: block;
        margin-left: 30px;
        margin-top: -745px;
      }
      .yaxis{
        font-weight: bold;
        font-size: 15px;
      }

      .axis text {
        font: 10px sans-serif;
      }

      .axis line,
      .axis path {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
      .filter{
        position: absolute;
        left: 5px;
        top:250px;
        width:200px;
        height:100px;
        font-size: large;
        background-color: #add8e6;
        font-weight: bold;


      }
      svg {
        display: block;
        margin-left: 310px;
        margin-top: 50px;
      }

div.tooltip{
   
    border-color: black;
    border-radius: 10;
    border-width: 3;
  
}